@import 'editor/scss/variables';

.m-styles-pane {

  &--label {
    display: inline-block;
    width: 100%;
  }

  &--add-style {
    display: inline-block;
    float: right;
    opacity: 0.3;
    cursor: pointer;
  }

  & .input {

    padding: 0px;
    box-shadow: none;
    width: auto;
    height: auto;
    // background-color: rgba(0,0,0,0.2);
    // padding: $padding-00 0;

    & .m-text-editor--highlight {
      // background-color: $color-sky-blue-4 !important;
      background-color: rgba(255, 255, 255,0.2);
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  & .m-color-picker-popdown {
    background-color: transparent;
    padding: 0px;
    border-radius: $border-radius-1;
    height: 16px;
  }

  & .focus {
    box-shadow: none !important;
  }

  &--declaration {
    // padding: 0px $padding-2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: $padding-0 $padding-2;
    // margin: $padding-1 0px;
    position: relative;

    &:last-child {
      border-bottom: none;
    }

    // display: block;
    // height: 30px;
    &-label {
      color: $color-white-offset-5;
    }
    &-value {
      position: absolute;
      // height: 100%;
      left: 50%;
    }

    &:hover {
      & .declaration-remove {
        display: inline-block;
      }
    }

    & .declaration-remove {
      cursor: pointer;
      float: right;
      display: none;
      opacity: 0.4;
    }
  }

  &--group-header {

  }

  &--items {

  }
}