@import 'tandem-front-end/scss/variables';

.m-selectables {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
}
.m-selectable {
  opacity: 0;
  cursor: pointer;

  &.hover, &:hover {
    opacity: 1;
  }
}
