@import 'editor/scss/variables';

.m-ruler-tool {
  position: absolute;
  top: 0px;
  left: 0px;

  &--line {
    & path {
      stroke: #FF00FF !important;
    }
    & text {
      fill: #FF00FF;
    }
  }
}
