@import 'editor/scss/variables';

.m-search-dropdown {
  position: relative;
  display: block;

  &--label {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: $padding-0 $padding-1;
    border-radius: $border-radius-1;
  }

  &--menu {

    color: $color-grey-2;
    z-index: 999;

    margin-top: $padding-0;
    position: absolute;
    width: 100%;
    background-color: white;
    box-shadow: -2px 5px 10px rgba(0,0,0,0.2);
    // border: 1px solid $color-grey-8;
    border-radius: $border-radius-2;

    & input {
      width: calc(100% - #{$padding-1 * 2});
      margin: $padding-1;
    }

    & .m-list {
      max-height: 200px;
      overflow-x: scroll;
      & li {
        cursor: pointer;
        &:hover, &:focus {
          background-color: $color-sky-blue-4;
          color: $color-white-offset-8;
        }
      }
      &:last-child {
        border-bottom-left-radius: $border-radius-2;
        border-bottom-right-radius: $border-radius-2;
      }
    }
  }
}
