@import './iconfonts.scss';

.s-text {
  &:before {
    content: 'T';
    font-family: 'YuMuncho';
  }
}

.s-delta {
  &:before {
    content: 'δ';
    font-family: 'Lucida Grande';
  }
}

.s-cursor {
  &:before {
    padding-top: 10px;
  }
}
