@import "scss/main";

.banner {
  color: #656565;
  background: #DADADA;
  padding: $space-small $space-large;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  &:before {
    font-family: 'Ionicons';
    margin-right: 8px;
    font-size: 0.8em;
  }

  &.notice {
    color: #3D5BAF;
    background: #4183D7;
    &:before {
      content: "\f149";
    }
  }

  &.success {
    background: #4DAF7C;
    &:before {
      content: "\f120";
    }
  }

  &.warning {
    color: #90810F;
    background: #E9D460;
    &:before {
      content: "\f100";
    }
  }

  &.failure {
    &:before {
      content: "\f100";
    }
  }
}