@import "scss/main";

.button {
  border: 1px solid #CCC;
  color: #999;
  
  
  font-weight: 200;
  background: #F3F3F3;
  display: inline-block;
  border-radius: 2px;
  padding: $space-small $space-large;

  &.disabled {
    opacity: 0.5;
  }

  &.primary {
    background: #6161D4;
    color: white;
  }

  &.warning {
    background: #F1F15E;
    color: #D0BA67;
  }

  &.error {
    background: #EA5252;
    color: #9E3912;
  }
}

