@import "scss/variables";

.m-symbol-component-pane-item {
  position: relative;
  background-color: $color-grey-8;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: inline-block;
  margin: $padding-1/2;
}
