@import "front-end/scss/variables.scss";

.m-states-pane {

  flex-shrink: 0;

  .state-item {
    &.selected {
      background: $color-aqua-1;
      color: white;
    }
    &:hover {
      .options {
        display: block;
      }
    }
  }
  .options {
    float: right;
    cursor: pointer;
    display: none;
  }
  .header {
    .controls {
      float: right;
    }
    .add-state-button {
      cursor: pointer;
    }
  }
  .state-name {
    width: 100%;
    display: inline-block;
  }
}