@import "tandem-front-end/scss/variables";

.m-css-rule-layer-label {
  &--rule-name {
    color: $color-purple-6;
    &:after {
      color: $color-grey-7;
    }
  }

  &--selection-count {
    &:before {
      content: " {";
      color: rgba(255, 255, 255, 0.5);
    }
    &:after {
      content: "}";
      color: rgba(255, 255, 255, 0.5);
    }
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
  }
}