@import 'editor/scss/variables';

.m-selector-component {

  &--size {
    border-radius: 5px;
    color: #FF00FF;
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
    transform: translate(-50%, 50%);
    font-size: $font-size-0;
  }

  &--selection {
    position: absolute;
    z-index: 4;
  }

  &--bounds {
    border: 1px solid $color-blue-4;
    opacity: 1;
  }

  & svg {
    & rect {
      fill: $color-blue-7;
      stroke: $color-blue-4;
    }
  }

  & .point-circle-nw, .point-circle-se  {
    cursor: nwse-resize;
  }

  & .point-circle-ne, .point-circle-sw {
    cursor: nesw-resize;
  }

  & .point-circle-e, .point-circle-w {
    cursor: ew-resize;
  }

  & .point-circle-n, .point-circle-s {
    cursor: ns-resize;
  }

}
