
.css-inspector {
  & .header {
    & .controls {
      font-size: 2em;
      & i {

        &.ion-paintbrush {
          font-size: 0.8em;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}