@import "@tandem/uikit/scss";

.css-inspector {
  position: relative;

  .matching-selectors {
    li {
      cursor: pointer;
      &:not(.selected) {
        background: #BFBFBF;
      }
      display: inline-block;
      padding: 2px 4px;
      color: rgba(255, 255, 255, 0.9);
      border-radius: 2px;
      margin-right: 4px;
      margin-bottom: 4px;
    }
  }
  
  & .advanced {
    width: 280px;
    background: #F9F9F9;
    position: fixed;
    transform: translateX(-100%);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.05);
  }
  
   & .controls {
    font-size: 1.5em;
    & i {
      cursor: pointer;
      position: relative;
      top: -2px;
      margin-left: 9px;

      &.ion-plus-round {
        font-size: 0.5em;
        top: -7px;
      }
      

      &.ion-paintbrush {
        font-size: 0.71em;
        position: relative;
        top: -4px;
      }
    }
  }

  & .labels {
    @extend .dim;
    font-size: 0.8em;
    padding-top: 0;
    text-align: center;
  }

  .title {
    @extend .dim;
    width: 100%;

    padding-bottom: $padding-r;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
  }

}