@import "scss/main";


.space-children {
  > * {
    margin: 16px;
  }
}

.group {
  @extend .space-children;
  > .title {
    color: #999;
    font-weight: 100;
    font-size: 1.5em;
    letter-spacing: 0.05em;
  }
}