.m-text-editor {

  & input {
    position: absolute;
    opacity: 0;
    top: -100px;
    left: -100px;
  }


  position: relative;
  // background-color: rgba(0,0,0,0.05);
  display: inline-block;

  cursor: text;
  -webkit-user-select: none;

  &--inner {
    // position: relative;
    display: block;
    // width: 100%;
    // height: 100%;
  }

  &--caret {
    // width: 2px;
    border-left: 1px solid black;
    // height: 4px;
    // background-color: #333;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  &--token {

    display: inline-block;
    user-select: none;

    &-space {
      position: relative;
    }
    &-unit {
      color: grey;
      cursor: pointer;
    }
    &-reference {
      color: grey;
    }
    &-leftParen {
      color: grey;
    }
    &-rightParen {
      color: grey;
    }
  }

  &--highlight {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: -1;
  }
}

.blink {
  // animation: blink 2s steps(2, start) infinite;
  -webkit-animation: blink 0.75s steps(2, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
