@import '@tandem/editor/browser/scss/variables';

.m-preview-footer {
  font-size: $font-size-1;
  background: $color-grey-10;
  position: absolute;
  color: $color-grey-7;
  padding: $padding-1 $padding-2;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  & .footer-zoom-input {
    & input {
      border: none;
      &:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
      }
      background: transparent;
      padding: 0;
    }
  }
  // background-color:$color-blue-11;
}
