.getting-started-component {

  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 18px;

  .button {
    padding: 8px 16px;
    &.disabled {
      border-color: rgba(0,0,0,0.1);
      cursor: default;
    }
  }

  .content {
    height: 100%;
  }

  ul {
    li {
      display: block;
      margin: 16px 0px;
    }
  }

  .install-text-editor-extension {
    .options {
      margin-top: 32px;
      color: #9E9E9E;
    
      
      li {

        &.selected {
          border-color: #00B5FF;
          img {
            filter: none;
          }
        }

        cursor: pointer;
        img {
          max-height: 70%;
          filter: grayscale(100%);
        }

        label {
          display: block;
          margin-top: 8px;
        }
        float: left;
        padding: 16px;
        margin-right: 16px;
        text-align: center;
        border-radius: 8px;
        width: 150px;
        height: 150px;
        border: 2px solid #9E9E9E;
      }

    }
  }

  .title {
    font-size: 32px;
    margin: 16px 0px;
  }
  
  .hello {

    position: absolute;
    top: 30%;

    .logo {
      opacity: 0.5;
      color: black;

      img {
        max-height: 50px;
        margin-right: 8px;
        position: relative;
        top: 9px;
        left: 2px;
      }

      margin-bottom: 32px;
      text-align: center;
      font-size: 32px;
      width: 100%;
    }

    .description {
      margin: 0px auto;
      max-width: 70%;
    }
  }
}