@import "sf-front-end/scss/variables";

.m-artboard-tool {
  &-background {
    background-color: $color-blue-11;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  &-editor {
    position: absolute;
    &-title {
      position: absolute;
      cursor: pointer;
    }
    &-border {
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
    }
  }
}
