body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-0;
  font-size: $font-size-3;
  letter-spacing: $letter-spacing-1;
}

input {
  letter-spacing: $letter-spacing-1;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
