@import '@tandem/editor/browser/scss/variables';

.m-editor-stage {

  color: $color-blue-1;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  // background-color: $color-blue-11;
  background-color: white;

  & .m-stage-tool {
    position: absolute;
    top: 0;
    left: 0;
  }
}
