@import "@tandem/uikit/scss";

.share-button {
  @extend .dim;
  text-transform: uppercase;
  float: right;
  border-radius: 4px;
  font-size: 10px;
  padding: 4px 8px;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
  margin: -2px 0;
  margin-right: 4px;
}