html, body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.header {
  background: #AB5D5D;
  color: white;
  padding: 16px;
  height: 100px;
  font-size: 32px;
}

.content {
  padding: 16px;
}

.header .title {
  font-size: 32px;
}

.item {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 40px;
}

.item .title {
  font-weight: 600;
}