.console-gutter-component {
  background: white;
  width: 100%;
  height: 100%;
  font-family: Monaco, Andale Mono, Geneva;
  letter-spacing: 0.06em;

  .logs {
    li {
      padding: 8px 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

      &.error {
        background:#FDD6D6;
        color: #F15757;
      }

      &.warning {
        background: #FDFDCF;
        color: #BFB10D;
      }

      &.info {
        background: #DBEFFD;
        color: #226BD6;
      }
    }
  }
}