@import "@tandem/editor/browser/scss/variables";

.html-layers-pane {

  & .comment {
    &::before {
      content: "// ";
    }
  }

  & .comment, & .text {
    color: rgba(255, 255, 255, 0.4);
  }

  & .element {
    & .open-tag {
      & .tag-name {
        color: white;
      }

      & .attribute {
        opacity: 0.5;
      }
    }
  }
}