.desktop-1024-768 {
  width: 1024px;
  height: 768px;
  position: absolute;
  background-color: white;
}

.iphone-6s {
  width: 320px;
  height: 553px;
  position: absolute;
  background-color: white;
}

.item {
  background:blue;
  display: block;
  width: 50%;
  color: orange;
  height: 200px;
  position: relative;
  padding: 10px;
}

.item div {
  width: 100%;
  display: block;
  height: 100%;
  margin: 10px;
  background-color: #F60;
}