.desktop-1024-768 {
  width: 1024px;
  height: 768px;
  position: absolute;
  background-color: white;
}

.iphone-6s {
  width: 320px;
  height: 553px;
  position: absolute;
  background-color: white;
}

.item {
  background:blue;
  width: 10px;
}