.desktop-1024-768 {
  width: 1024px;
  height: 768px;
  position: absolute;
  background-color: white;
}

.iphone-6s {
  width: 300px;
  height: 553px;
  position: absolute;
  background-color: white;
}

.item {
  background:blue;
  display: block;
  width: 50%;
  color: orange;
  height: 200px;
  position: relative;
}


.item div {
  width: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  height: 50%;
  background-color: #F60;
}