.m-editor-stage-layers {
  position: relative;
  overflow: hidden;
  flex-grow: 1;

  &--isolate-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.m-editor-stage-canvas {
  -webkit-user-select: none;
}
