@import 'sf-front-end/scss/variables';

.m-selector-component {

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1024;

  &--size {
    background-color: rgba($color-blue-4, 0.8);
    color: white;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
    transform-origin: top left;
    font-size: $font-size-0;
  }

  &--selection {
    position: absolute;
    z-index: 4;
  }

  &--bounds {
    opacity: 0.5;
  }

  & svg {
    & rect {
      fill: $color-blue-7;
      stroke: $color-blue-7;
    }
  }

  & .point-circle-nw, .point-circle-se  {
    cursor: nwse-resize;
  }

  & .point-circle-ne, .point-circle-sw {
    cursor: nesw-resize;
  }

  & .point-circle-e, .point-circle-w {
    cursor: ew-resize;
  }

  & .point-circle-n, .point-circle-s {
    cursor: ns-resize;
  }
}
