@import 'editor/scss/variables';

.m-pane-container {
  margin-top: $padding-1;
  &--header {
    cursor: default;
    background-color: $color-white-offset-1;
    padding: $padding-0 $padding-2;
  }
}
