@import 'editor/scss/variables';

.m-sidebar {

  padding-top: $padding-4;
  z-index: 1024;

  color: $color-white-offset-8;
  border-style: solid;
  border-width: 0px;
  height: 100vh;
  max-width: 300px;
  display: inline-block;
  position: relative;
  overflow-x: scroll;

  flex-grow: 0;
  flex-shrink: 0;

  &.left {
    background-color: $color-blue-1;
    box-shadow: inset -10px 0px 10px -9px rgba(0,0,0,0.3);
    border-right: 2px solid white;
  }

  &.right {
    float:right;
    background-color: $color-grey-1;
    box-shadow: inset 10px 0px 10px -9px rgba(0,0,0,0.3);
    border-left: 2px solid white;

    .m-pane-container--header {
      border-top: 1px solid rgba(255, 255, 255, 0.05);
    }
  }
}
