@import 'saffron-editor-bundle/scss/variables';

.m-preview-footer {
  font-size: $font-size-1;
  position: relative;
  color: $color-blue-4;
  padding: $padding-1 $padding-2;
  // background-color:$color-blue-11;
}
