@import 'editor/scss/variables';

.m-preview-stage {
  background-color: $color-blue-11;
  // width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  padding-top: 35px;
  padding-bottom: 30px;


  &--inner {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }

  &--canvas {
    transition: 0.5s;
    background-color: white;
    border: 1px solid $color-blue-10;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--element-layer {
    width: 100%;
    height: 100%;

    & .reset-all {
      cursor: inherit;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
