@import "@tandem/uikit/scss";

.css-pretty-inspector {

  & .ion-trash-a {
    font-size: 0.9em;
    position: relative;
    top: -4px !important;
  }

  & .label {
    @extend .dim;
    font-size: 0.8em;
    vertical-align: bottom;
    min-width: 15px;
    text-align: right;
    line-height: 24px;

    & i {
      line-height: 22px;
    }
  }

  & .advanced-layout {
    min-width: 280px;
  }

  & .filters-section {
    & .filter-config-button {
      @extend .input;
      height: 22px;
      cursor: pointer;
      & i {
        top: -1px;
        left: -4px;
        position: relative; 
      }     
    }
  }

  & .advanced-typography {
    min-width: 250px;
  }


  & .fill-input {
    @extend .input;
    padding: 0;
    z-index: 2;
    display: inline-block;
    cursor: pointer;
    height: 23px;
    width: 100%;
  }

  & .bg-list {
    & li {
      width: 20%;
      display: inline-block;
      margin-right: 4px;
    }
  }
}
