@import 'editor/scss/variables';

// TODO - might need to move this stuff to a scss module
.m-select {
  border-radius: $border-radius-2;

  & li {

    cursor: pointer;

    &:hover, &.selected {
      background-color: $color-sky-blue-4;
      color: $color-white-offset-8;
    }
  }
}
