@import "scss/variables.scss";

.m-file-navigator-pane {
  > .content {
    padding: 4px;
  }

  input {
    outline: none;
    border-radius: 2px;
    width: 100%;
    border: 1px solid #EEE;
    &:focus {
      border: 1px solid $color-aqua-1;
    }
  }

  .controls {
    float: right;
    * {
      margin-right: 4px;
      cursor: pointer;
    }
  }

  .file {
    .label {
      user-select: none;
      cursor: pointer;
      padding-top: 4px;
      padding-bottom: 4px;
      &:hover {
        background: #EEEEEE;
      }
    }

    &.selected {
      > .label {
        background: $color-aqua-1;
        color: white;
      }
    }
    i {
      margin-right: 4px;
      &.ion-android-document {
        font-size: 0.7em;
      }
    }
  }
}