@import "./variables";



html, body {
  font-family: $font-family-0;
  font-weight: 200;
  letter-spacing: 0.06em;
  font-size: 12px;
}

input {
  border: none;
}
.a {
  &-b {
    color: red;
  }
  &-c {
    color: red;
  }
}