@import 'editor-fragment/scss/variables';

.m-editor-stage {
  color: $color-blue-1;
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0px auto;
  background-color: $color-blue-9;

  & .m-stage-tool {
    position: absolute;
    top: 0;
    left: 0;
  }
}
