@import "front-end/scss/variables.scss";

.m-pane {
  min-width: 200px;
  > .header {
    padding: $padding-base * 4 $padding-base * 8;
    text-transform: uppercase;
    .controls {
      float: right;
    }
    background: $color-grey-10;
  }
}