.m-open-files-pane {
  .open-file {
    max-width: 200px;

    &:last-child {
      > .label {
        border-bottom: none;
      }
    }
    &.unsaved > .label {
      .ion-close {
        display: none;
      }
      .ion-record {
        visibility: visible;
      }
    }

    > .label {
      background: #EEEEEE;
      width: 100%;
      display: flex;
      overflow: hidden;
      padding: 4px;
      cursor: pointer;

      .ion-close {
        visibility: hidden;
      }

      &:hover {
        background: #DEDEDE;
        .ion-close {
          visibility: visible;
          display: inline-block;
        }
        .ion-record {
          display: none;
        }
      }

      &.active {
        background: #DDDDDD;
      }

      i {
        padding-left: 2px;
        font-size: 0.7em;
        padding-right: 4px;
        margin-top: 2px;
      }
      .basename {
        margin-right: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        font-weight: 400;
      }
      .uri {
        opacity: 0.5;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        flex: 1;
        display: inline-block;
        overflow: hidden;
      }
    }

    &.temporary > .label {
      font-style: italic;
    }
  }
}