.prompt {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 9999999;
  & .modal {
    & .close-button {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
      font-size: 14px;
    }
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    background: white;
    border-radius: 2px;
    padding: 16px;
    min-width: 300px;

  }
}