.test {
  background: orange;
  padding: 10px;
  font-weight: 100;
}

.something {
  color: red;
}

.child {
  font-weight: 200;
}

body {
  color: white;
  font-family: Helvetica;
  letter-spacing: 0.05em;
  margin: 0;
}
