.css-pane-title {
  display: inline-block;
  /*float: left;*/
  cursor: default;

}

.css-pane-rule-source {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  float: right;
  text-transform: none;
  width: 50%;
}