.td-element-measurement {
  position: absolute;
  pointer-events: none;
  &-box {
    position: absolute;
    border: 1px dashed #F0F;
  }
}
.td-measurement-stage-tool {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}