@import "@tandem/uikit/scss";

.css-animation-pane {

  & .rail {
    display: relative;
    & .scrub {
      &:before {
        height: 25px;
        top: -17px;
        background: rgba(255, 0, 255, 0.21);
        content: " ";
        display: block;
        border: 1px solid #F0F;
        width: 11px;
        position: absolute;
        left: 200;
      }
      &:after {
        content: " ";
        display: block;
        width: 1px;
        position: absolute;
        height: 300px;
        left: 206;
        top: 10;
        background: #F0F;
      }
    }


    display: inline-block;
  }

  & .keyframes {
    position: relative;
    & .keyframe {
      width: 8px;
      height: 8px;
      background: #666;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  .row {
    padding: 0;
    border-bottom: 1px solid #E5E5E5;
    & .label {
      border-right: 1px solid #E5E5E5;
      background: #E5E5E5;
      width: 100px;
      text-align: right;
      padding: 8px 16px;
    }
  }
}