@import "@tandem/uikit/scss";

.unsaved-files-pane {
  & .unsaved-file {
    cursor: default;
    & .save-all-button {
      cursor: pointer;
    }

    & *[class^="col"] {
      overflow: hidden; 
      white-space: nowrap;
      text-overflow: ellipsis;
    } 

    & .difference-button {
      cursor: pointer;
    }
    & .file-dirname {
      @extend .dim; 
    }

    & .file-basename {
      margin-right: 4px;
    }
  }
}