@import "front-end/scss/variables.scss";

.m-tree-node-layer {
  position: relative;
  > .label {
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: default;
    user-select: none;

    input {
      color: #333;
    }

    &.hovering {
      box-shadow: inset 0px 0px 0px 2px $color-aqua-1;
    }
    &.selected {
      color: white;
      background: $color-aqua-1;
    }

    i {
      margin-right: 4px;
    }
  }
  > .insert-line {
    background: $color-sky-blue-3;
    border: 1px solid white;
    box-sizing: content-box;
    height: 2px;
    width: 100%;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 5;
    &.hovering {
      opacity: 1;
    }
  }
}