@import "front-end/scss/variables.scss";

.m-file-navigator-pane {
  > .content {
    padding: 0;
  }
}

.m-fs-item {
  user-select: none;
  .label {
    padding: $padding-base * 4 $padding-base * 8;
    i {
      margin-right: $padding-base * 2;
    }
    &:hover {
      background: $color-grey-11;
      cursor: pointer;
    }
  }
}