.td-workspace-titlebar {
  background: #F9F9F9;
  padding: 6px 16px;
  padding-right: 0px;
  padding-left: 76px;
  -webkit-app-region: drag;
  font-size: 1.2em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);

  & .tool-options {
    & a {
      margin-right: 16px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  & .tools {
    text-align: center;
    & i {
      margin-left: 8px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}