@import "scss/variables";

.m-sidebar {
  color: $color-white-offset-0;
  background-color: $color-grey-10;
  border-color: $color-grey-8;
  border-style: solid;
  border-width: 0px;
  height: 100vh;
  max-width: 300px;
  display: inline-block;
  position: relative;

  &.left {
    background-color: $color-blue-1;
  }

  &.right {
    float:right;
    background-color: $color-grey-1;
  }
}
