@import '@tandem/editor/browser/scss/variables';

.m-preview-footer {
  font-size: $font-size-1;
  background: #F9F9F9;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  color: #777777;

  .footer-inner {
    display: flex;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  .info {
    top: 0;
    flex-shrink: 0;
    padding: 8px 16px;
    display: inline-block;
  }

  .element-breadcrumbs {
    width: 100%;
    flex-shrink: 0;
    display: inline-block;
    top: 10px;
  }

  position: absolute;
  bottom: 0px;
  width: 100%;
  & .footer-zoom-input {
    & input {
      border: none;
      color: inherit;
      width: auto;
      &:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
      }
      background: transparent;
      padding: 0;
    }
  }
  // background-color:$color-blue-11;
}
