
$arrow-width: 10px;

.arrow-box {
	position: relative;
	background: white;
  width: 0px;
}

.arrow-box--after, .arrow-box--before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box--after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: $arrow-width;
	margin-left: -$arrow-width;
}
.arrow-box--before {
	border-color: rgba(194, 225, 245, 0);
	border-width: $arrow-width + 1;
	margin-left: -$arrow-width - 1;
}
