@import "@tandem/uikit/scss";

.target-rule-hint {
  position: relative;
  &.highlight {
    & .input, input {
      @extend .reveal-border;
      @extend .reveal-color;
    }
  }
  & .blocker {
    z-index: 9999;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);

    height: 100%;
    width: 100%;
    border-radius: 2px;
    cursor: default;
    text-align: center;
    font-size: 1.5em;
    & i {
      position: relative;
      top: 2px;
    }
  }
}