@import 'editor/scss/variables';

.m-element-layer-label {

  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;

  &--tag, &--operator {
    color: $color-white-offset-3;
  }

  &--tag-name {
    color: $color-blue-7;
  }

  &--key {
    color: $color-blue-7;
  }

  &--string {
    color: $color-orange-1;
  }
}