@import 'editor/scss/variables';
$color-picker-button-width: 30px;
$color-picker-button-border-width: 1px;

.m-color-picker-input {
  display: block;
  position: relative;
  &--button {

    background-color: white !important;
    // padding: $padding-0;

    cursor: pointer;
    display: inline-block;
    position: relative;

    &-fill {
      width: $color-picker-button-width;
      height: 15px;
      background-color: rgba(0,0,0,0);
    }
  }
}
