@import 'editor/scss/variables';
$color-picker-button-width: 30px;
$color-picker-button-border-width: 1px;

.m-color-picker-input {
  display: block;
  position: relative;
  &--button {

    box-shadow: none !important;
    background-color: white !important;
    // padding: $padding-0 !important;
    padding: 0 !important;

    cursor: pointer;
    display: inline-block;
    position: relative;

    &-fill {
      width: 100%;
      height: 100%;
      border-radius: $border-radius-1;
      background-color: white;
    }
  }
}
