@import './index.scss';

.m-color-picker-popdown {
  min-width: 200px;
  // transform: translate(calc(-50% + #{
    // ($color-picker-button-width + $color-picker-button-border-width * 2)/2
  // }));

  &--outer {
    padding: $padding-00;
  }

  &--inner {
    position: relative;
  }
}
