@import "@tandem/editor/browser/scss/variables";

$gutter-background: #444;

.td-gutter {
  height: 100%;
  width: 100%;
  position: relative;
  color: $font-color-white;
  background-color: $gutter-background;
  box-shadow: 0 0 0 2px $color-black-offset-2;

  .td-section-header {
    background: rgba(0,0,0,0.2);

    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 400;
    opacity: 0.7;
    letter-spacing: 0.15em;
    padding: 10px;
  }

  .td-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  & .container {
    width: 100%;
  }

  & .left {
    border-left: 2px solid rgba(255, 255, 255, 0.2);
  }

  & .right {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
  }

  & .td-pane {
    padding-bottom: 12;

    &-header {
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: 400;
      opacity: 0.7;
      letter-spacing: 0.15em;
      padding: 10px;

      // buttons
      & a {
        float: right;
        color: inherit;
      }
    }
  }
}


.td-cells {

  .row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .td-cell-key {
    background: rgba(255, 255, 255, 0.05);
    line-height: inherit;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }

  *[class*="col-"] {
    padding: 8px;
  }

  & label {
    padding: 0;
    display: block;
  }

  & input[type="text"] {
    background: transparent;
    border: none;
    border-radius: none;
    padding: 0px;
    line-height: inherit;
  }
}