@import 'scss/variables';

.m-drag-select {
  z-index: 1024;
  position: absolute;
  &--box {
    position: absolute;
    border: 1px solid $color-blue-4;
    background: rgba($color-blue-4, 0.5);
  }
}
