.workspace-component {
  display: flex;
  flex-direction: row;
  width: 100%;
  .workspace-editors {
    width: 100%;
    display: flex;
  }

  .workspace-stage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}