.share-cursors {
  .cursor {
    width: 18px;
    opacity: 0.8;
    z-index: 1024;
    position: absolute;

    .label {
      display: inline-block;
      color: white;
      border-radius: 100px;
      position: absolute;
      padding: 4px 8px;
      font-size: 8px;
      right: 0px;
      white-space: nowrap;
      transform: translate(100%, 100%);
    }
  }

}