


.remote-browser-stage-tool {
  .remote-browser-window {
    position: absolute;

    filter: none;

    .header {
      transform: translateY(-100%);
      width: 100%;
      position: relative;

      .status-component {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }

      .tabbar {
        position: relative;
        
        .controls {
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          right: 26px;

          .app {
            position: relative;
            display: block;
            i {
              display: block;
              width: 13px;
              height: 13px;
              position: relative;
              background-size: 100%;
              opacity: 0.2;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              &.chrome {
               background-image: url(./styles/icons/chrome@2x.png);
              }
            }
          }
        }
      }

      .searchbar {
        position: relative;
      }
    }

    .background {
      background: white;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .overlay {
      width: 100%;
      height: 100%;
      background: transparent;
    }

    &.platform {
      &.desktop {
        & .background {
          box-shadow: 0 0 0 1px #DFDFDF;
        }

        & .header {
          box-shadow: 0 0 0 1px #DFDFDF;

          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }

        .tabbar {
          
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          width: 100%;
          height: 36px;
          position: relative;
          background: #DFDFDF;

          padding-left: 32px;

          .tab {
            border: 1px solid #CFCFCF;
            border-bottom: none;
            background: url(./styles/chrome/latest/tab.svg);
            background: #EDEDED;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 4px 16px;
            position: absolute;
            // bottom: -1px;
            bottom: -1px;
            z-index: 2;
          }
        }

        .searchbar {
           height: 36px;
           width: 100%;
           border-top: 1px solid #CFCFCF;
           background: #EDEDED;
           padding: 6px;
           input {
             height: 23px;
             background: white;
             border: none;
           }
        }
      }
    }
  }

  &--background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &--item-background {
    background: white;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 0 2px #B1B1B1;


    &--title {
      background: #B1B1B1;
      box-shadow: 0 0 0 2px #B1B1B1;
      display: flex;

      & .search {
        width: 100%;
        position: relative;
        & .status-component {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 4px;
        }
      }

      & input[type="text"] {
        flex-shrink: 1;
        color: inherit;
        border: none;
        width: 100%;
        display: inline-block;
        background: white;
      }

      width: 100%;
      transform: translateY(-100%);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 8px 16px;
      padding-bottom: 10px;
      & span {
        cursor: default;
      }
      & input {
        &:focus {
          outline: none;
          box-shadow: none !important;
          border: none;
        }
        padding: 0;
        letter-spacing: inherit;
        color: inherit;
        border: none;
        background: none;
        font-size: inherit;
      }
    }
  }
}
