@import 'editor/scss/variables';

.m-editor-stage-header {
  position: relative;
  background-color: $color-blue-11;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 12px;


  & li {
    display: inline-block;
    padding-left: $padding-3;
    font-size: $font-size-5;
    cursor: pointer;
    &:hover {
      color: $color-blue-4;
    }
    &.selected {
      color: $color-sky-blue-4;
    }
  }
}
