

$gutter-background: #444;

.td-gutter {
  overflow: scroll;
  font-size: $font-size-sm;
  letter-spacing: 0.15em;
  height: 100%;
  width: 100%;
  position: relative;
  color: $font-color-white;
  background-color: $gutter-background;

  .td-section-header {
    font-size: 0.9em;
    letter-spacing: 0.15em;
    padding: 8px 16px;
    &:hover {
      .controls {
        display: block;
      }
    }
    font-weight: 400;
    background: rgba(0, 0, 0, 0.14);
    .controls{
      display: none;
      float: right;
      cursor: pointer
    }
  }

  .td-section-subheader {
    @extend .font-regular;
    text-transform: uppercase;
    padding: 8px 16px;
  }

  .td-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &.right {
    border-left: 2px solid rgba(0, 0, 0, 0.2)
  }


  &.left {
    border-right: 2px solid rgba(0,0, 0, 0.2)
  }
}


a {
  color: inherit;
  text-decoration: none;
}
button {
  color: inherit;
  border: none;
  background: none;
}

*:focus {
  outline: none;
}

.pull-right {
  float: right;
}


.font-regular {
  font-size: 11px;
  letter-spacing: 1px;
}


.td-container {
  padding-top: 8px;
  padding-bottom: 8px;
}


