$input-radius: 3px;
$input-top-bottom: 4px;
$input-left-right: 8px;
$input-padding: $input-top-bottom $input-left-right;
$input-border: 1px solid rgba(0,0,0,0.15);
$input-background: rgba(0,0,0,0.1);

$gutter-background: #444;

.td-gutter {
  overflow: scroll;
  font-size: $font-size-sm;
  letter-spacing: 0.15em;
  height: 100%;
  width: 100%;
  position: relative;
  color: $font-color-white;
  background-color: $gutter-background;

  .td-section-header {
    font-size: 0.9em;
    letter-spacing: 0.15em;
    padding: 8px 16px;
    &:hover {
      .controls {
        display: block;
      }
    }
    font-weight: 400;
    background: rgba(0, 0, 0, 0.14);
    .controls{
      display: none;
      float: right;
      cursor: pointer
    }
  }

  .td-section-subheader {
    @extend .font-regular;
    text-transform: uppercase;
    padding: 8px 16px;
  }

  .td-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &.right {
    border-left: 2px solid rgba(0, 0, 0, 0.2)
  }


  &.left {
    border-right: 2px solid rgba(0,0, 0, 0.2)
  }
}


a {
  color: inherit;
  text-decoration: none;
}
button {
  color: inherit;
  border: none;
  background: none;
}

.input {
  color: $font-color-white;
  letter-spacing: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: $input-padding;
  line-height: inherit;
  height: auto;
  background: $input-background;
  border: $input-border;
  margin: 0;
  border-radius: $input-radius;
  width: 100%;
}

.select {
  @extend .input;
  @extend .no-wrap;
  & .button {
    float: right;
  }
}

*:focus {
  outline: none;
}

.pull-right {
  float: right;
}

.slider {
  position: relative;

  & > *, &:before {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }


  &:before {
    content: " ";
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    display: block;
    height: 2px;
  }

  width: 100%;

  & a {
    width: 10px;
    height: 10px;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
  }
}

label {
  font-weight: inherit;
  padding: $input-top-bottom 0px;
  margin: 0px;
}

input[type="text"] {
  @extend .input;
}

.font-regular {
  font-size: 11px;
  letter-spacing: 1px;
}


.td-container {
  padding-top: 8px;
  padding-bottom: 8px;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
}

.row {

  padding: 4px 16px;

  display: flex;
  flex-direction: row;

  .no-shrink {
    flex-shrink: 0;
  }

  .col {
    margin-left: 16px !important;
    &:first-child {
      margin-left: 0px !important;
    }
  }

  @for $i from 1 through 10 {
    .col-#{$i} {
      @extend .col;
      width: percentage($i/10);
    }
  }
}

