
body, html {
  margin: 0;
  padding: 0;
  font-family: $font-family-0;
  font-size: $font-size-2;
  letter-spacing: 0.06em;
  font-weight: 200;
}

input {
  letter-spacing: $letter-spacing-1;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
