@import 'editor/scss/variables';

.m-popdown {

  position: absolute;
  color: $color-grey-2;
  z-index: 999;
  background-color: white;
  box-shadow: -2px 5px 10px rgba(0,0,0,0.2);
  border-radius: $border-radius-2;
}
