:root {
  --font-size-sm: 11px;
  --font-size-rg: 12px;
  --font-color-1: rgba(0, 0, 0, 0.5);
  --active-color-1: rgb(58, 150, 247);
  --font-family: Roboto, sans-serif;
  --background-1: rgb(228, 228, 228);
  --background-2: rgb(238, 238, 238);
  --background-3: rgb(247, 247, 247);
  --boundary-color-1: rgba(0, 0, 0, 0.2);
}

html, body {
  font-family: var(--font-family);
  padding: 0px;
  margin: 0px;
  font-size: var(--font-size-rg);
  color: var(--font-color-1);
}

* {
  box-sizing: border-box;
}