@import '@tandem/front-end/scss/variables';

input {
  background: rgba(0,0,0,0.1);
  padding: 0px;
  height: auto;
  font-size: inherit;

  // TODO - use no-borders() helper
  border-radius: $border-radius-1;
  border: none;
  box-shadow: none;
  -webkit-user-select: text;

  color: $color-blue-7;
  padding-left: 0;
  padding-right: 0;
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}