@import "tandem-front-end/scss/variables";

.m-css-atrule-layer-label {
  &--name {
    color: $color-pink-10;
    &:before {
      content: "@";
    }
    &:after {
      content: " ";
    }
  }

  &--params {
    color: palevioletred;
  }
}