@import "front-end/scss/variables";

.m-css-inspector {
  .style-rule-info {
    width: 100%;
    overflow: hidden;

    > .title {
      width: 100%;
      padding: $padding-base * 4 $padding-base * 4;
      background: $color-grey-10;

      .source {
        opacity: 0.5;
        float: right;
        text-decoration: underline;
        cursor: pointer;
      }
      &:hover {
        > .add-declaration-button {
          visibility: visible;
        }

        > .ion-star {
          visibility: visible;
        }
      }

      > .inherited {
        text-transform: uppercase;
        margin-left: $padding-base * 2;
        font-size: 0.8em;
        background: rgba(0,0,0,0.05);
        padding: $padding-base $padding-base * 4;
      }

      > .ion-plus {
        font-size: 0.9em;
        visibility: hidden;
        cursor: pointer;
        padding: 0 $padding-base;
      }

      > .ion-star {
        padding-left: $padding-base * 4;
        cursor: pointer;
        visibility: hidden;
        padding: 0 $padding-base;
        font-size: 0.9em;
      }
    } 


    &.is-default {
      .ion-star {
        visibility: visible;
        opacity: 0.5;
        color: $color-orange-7;
      }
    }

    &.is-target {
      .ion-star {
        visibility: visible;
        color: $color-orange-7;
      }
    }


    > .declaration {
      width: 100%;
      > .property {

        &.disabled {
          opacity: 1;
          .name, .value {
            opacity: 0.2;
          }
        }
        
        &.ignored {
          .name, .value {
            opacity: 0.2;
          }
        }

        &.overridden {
          .name, .value {
            text-decoration: line-through;
          }
        }

        & input {
          background: transparent;
          border: none;
        }

        position: relative;
        padding: $padding-base * 4 $padding-base * 2;
        border-bottom: 1px solid $color-grey-10;
        &:last {
          border-bottom: none;
        }
        > .name {
          padding-right: $padding-base * 4;
          display: inline-block;
        }
        > .value {
          display: inline-block;
          // width: 60%;
        }
        > .controls {
          padding: $padding-base * 4 $padding-base * 2;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
        }
        .ion-eye {
          display: none;
        }

        &:hover .ion-eye {
          display: inline-block;
        }
      }
    }
  }
}