@import "sf-front-end/scss/variables";
.m-css-style-pane {
  &--declaration {
    & input {
      background: transparent;
      border: none;
      outline: none;
      color: white;
      width: calc(100% - 10px);
    }
    &--key {
      display: inline-block;
      width: 50%;
      opacity: 0.6;
    }
    &--value {
      width: 50%;
      display: inline-block;
    }
  }
}