@import 'editor/scss/variables';

.m-margin-preview-tool {
  &--entity {
    position: absolute;
    user-select: none;
    border-color: $color-blue-4;
    border-style: solid;
    pointer-events: none;
    opacity: 0.5;
  }
}