.container {
  background-color: blue;
  padding: 20px;
  top: 0px;
  width:50%;
  position: fixed;

  font-size: 20px;
  border-radius: 10px;
  color: orange;
}

html, body {
  padding: 0px;
  margin: 0px;
}