@import "./variables.scss";

body {
  font-family: Helvetica;
}

.m-pane {
  color: white;
}

.m-pane .header {
  padding: 10px;
  font-size: 30px;
  color: $color-blue-4;
  background: rgba(0,0,0, 0.5);
}