.item {
  color: white;
  font-size:20px;
  margin: 20px;
  background-color: #FF6600;
  border: 8px solid black;
  padding:20px;
  border-radius: 100px;
}

.item:before {
  content: "<";
}
.item:after {
  content: ">";
}