@import 'editor/scss/variables';

.m-radio-group {

  border-radius: $border-radius-1;
  padding: 0px !important;

  & li {
    &:first-child {
      border-top-left-radius: $border-radius-1;
      border-bottom-left-radius: $border-radius-1;
    }

    &:first-child {
      border-top-right-radius: $border-radius-1;
      border-bottom-right-radius: $border-radius-1;
    }

    height: 100%;
    cursor: pointer;
    display: inline-block;
    padding: $padding-0;

    &.selected {
      background-color: $color-sky-blue-3;
    }
  }
}
